<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="app/Views/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<header class="header">
    <h1>The Rick and Morty cards</h1>
</header>
<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-5">
    {% for card in cards %}
        <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <div><img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                      src="{{ card.getUrl() }}" alt="{{ card.getName() }}"></div>
            <div>
                <h4 class="ml-5 font-bold">{{ card.getName() }}</h4>
                <p class="ml-5 mb-2 text-sm text-gray-900 dark:text-white">
                    {% set status = (card.getStatus() == 'Alive') ? 'green' : 'red' %}
                    <span style="color: {{ status }};">&#x25cf;</span> {{ card.getStatus() }} - {{ card.getSpecies() }}
                </p>
                <p class="ml-5 font-normal text-sm text-gray-700 dark:text-gray-400">Last known location:</p>
                <p class="ml-5 pb-2 font-normal text-gray-700 dark:text-gray-400">{{ card.GetLocation() }}</p>
                <p class="ml-5 font-normal text-sm text-gray-700 dark:text-gray-400">First seen in:</p>
                <p class="ml-5 font-normal text-gray-700 dark:text-gray-400">{{ card.GetEpisode() }}</p>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>